.result-wrong {
    display: none;
}

.result-first {
    /* display: none; */
}

.image-block {
    align-items: center;
}

.image-wrapper {
    > .title {
    }

    > .image {
        width: 60vw;
    }
}

.title {
    font-size: 32px;
    font-weight: 700;
}
