.body-component {
    padding: 24px 3vw;
}

.form-wrapper {
    padding: 16px 0;

    > .title {
        margin: 0 0 8px;
    }

    > .description {
        font-size: 14px;
    }

    > .form {
        margin: 8px 0;
        padding: 4px;
    }

    > .submit {
        margin: 8px 0;
        width: 60px;
    }
}

.result-wrong {
    display: none;
}

.result-first {
    border-top: dotted;
    display: none;
    padding: 24px 8px;

    > .main {
        font-size: 14px;
    }
}

.result-clear {
    display: none;
}

.image-wrapper {
    display: block;
    margin: 0 auto;
    padding: 16px;
    width: fit-content;
    position: relative;

    > .description {
        display: block;
        position: relative;
        border-bottom: 1px solid;
    }

    > .image {
        width: 75vw;
        max-width: 600px;
    }
}

.border {
    border: solid 1px #00f;
}

.border::after {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border: solid 1px #00f;
}

.wado-block {
    height: 300px;
    min-width: 260px;
    padding: 8px 4px;
    margin: 8px 4px;
    box-shadow: 0 0 15px -10px;

    > .text {
        padding: 4px;
        text-align: center;
    }
}

.pseudo-image {
    > .a {
        position: relative;

        &::before {
            content: 'A';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 30px;
            left: calc(50% - 21px);
            border-radius: 6px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            top: 86px;
            left: calc(50% - 10px);
            border-top: solid 10px #333;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            box-shadow: -15px -10px 0 1px #fff, -6px -10px 0 0 #333;
        }
    }

    > .b {
        position: relative;

        &::before {
            content: 'B';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 100px;
            left: calc(50% - 91px);
            border-radius: 6px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            top: 111px;
            left: calc(50% - 35px);
            border-top: solid 10px transparent;
            border-bottom: solid 10px transparent;
            border-left: solid 10px #333;
            box-shadow: -10px 15px 0 1px #fff, -10px 6px 0 0 #333;
        }
    }

    > .c {
        position: relative;

        &::before {
            content: 'C';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 100px;
            left: calc(50% + 49px);
            border-radius: 6px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            top: 111px;
            left: calc(50% + 36px);
            border-top: solid 10px transparent;
            border-bottom: solid 10px transparent;
            border-left: solid 10px #333;
            box-shadow: -10px 15px 0 1px #fff, -10px 6px 0 0 #333;
        }
    }

    > .d {
        position: relative;

        &::before {
            content: 'D';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 170px;
            left: calc(50% - 21px);
            border-radius: 6px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px;
            top: 146px;
            left: calc(50% - 10px);
            border-bottom: solid 10px #333;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            box-shadow: -15px 10px 0 1px #fff, -6px 10px 0 0 #333;
        }
    }

    > .e {
        position: relative;

        &::before {
            content: 'E';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 100px;
            left: calc(50% - 21px);
            border-radius: 6px;
            line-height: 40px;
            text-align: center;
            border: solid 1px;
        }
    }
}
